<f:layout name="Default" />

<f:section name="main">
<f:flashMessages renderMode="div" />
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			    <h3>{f:translate(key: 'propose_success_title')}</h3>
			    <p>{f:translate(key: 'propose_success_text')}</p>
			    <f:link.page class="btn btn-default admin-form__back-btn">{f:translate(key: 'back', default: 'back')}</f:link.page>
			</div>
		</div>
	</div>
    
</f:section>
