<f:layout name="Default" />

<f:section name="main">
<f:flashMessages renderMode="div" />
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			    <f:link.page class="btn btn-default admin-form__back-btn">{f:translate(key: 'back', default: 'back')}</f:link.page>
				<h3><f:translate key="edit_content_specific">Edit content on site</f:translate> "{page}":</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">

				<form method="post">
					<input name="edit_content[header]" class="form-control" type="text" value="{content.header}" />
					<textarea name="edit_content[bodytext]" class="form-control" style="height:400px;">{content.bodytext}</textarea>
					<input name="edit_content[uid]" type="hidden" value="{content.uid}" />
					<input name="edit_content[pid]" type="hidden" value="{content.pid}" />
					<input class="form-control" type="submit" value="{f:translate(key: 'save', default: 'Submit')}">
				</form>
			</div>
		</div>
	</div>

</f:section>
