<f:layout name="Default" />

<f:section name="main">

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<f:if condition="{contents}">
				    <h3><f:translate key="edit_content">Edit content of one of your sites:</f:translate></h3>
				    <ul>
					    <f:for each="{contents}" as="content">
						    <li><f:link.action action="content" arguments="{uid : content.uid}">{content.title}</f:link.action></li>
					    </f:for>
				    </ul>
				</f:if>
				<f:if condition="{proposeLink}">
				    <h3><f:translate key="propose_events">Propose Events/News:</f:translate></h3>
				    <ul>
				        <f:if condition="{settings.useEvents}==1">
				            <li><f:link.action action="propose" arguments="{type : 1}"><f:translate key="label_event">Propose Event</f:translate></f:link.action></li>
				        </f:if>
				        <li><f:link.action action="propose" arguments="{type : 0}"><f:translate key="label_news">Propose News Article</f:translate></f:link.action>
				    </ul>
				</f:if>
				<h3><f:translate key="user_actions">User Actions:</f:translate></h3>
				    <ul><li><a href="/?logintype=logout"><f:translate key="log_out">Log out</f:translate></a></li></ul>
			</div>
		</div>
	</div>

</f:section>
