{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
    <f:flashMessages renderMode="div" />
    

	<!--div class="container">
	    <div class="row">
	        <div class="col-md-12"-->
	            
    <div class="admin-form-wrp">
        <f:link.page class="btn btn-default admin-form__back-btn">{f:translate(key: 'back', default: 'back')}</f:link.page>
        <f:if condition="{type}==1">
            <f:if condition="{settings.useEvents}!=1">
                <v:variable.set name="eventError" value="1" />
            </f:if>
        </f:if>
        
        <f:if condition="{eventError}==1">
            <f:then>
                <h3>Events feature is turned off in current configuration</h3>
            </f:then>
            <f:else>
                <f:if condition="{type}==1">
                    <h3><f:translate key="label_event">Propose Event</f:translate></h3>
                    <v:variable.set name="typeWord" value="{f:translate(key: 'event_word')}" />
                </f:if>
                <f:if condition="{type}==0">
                    <h3><f:translate key="label_news">Propose News Article</f:translate></h3>
                    <v:variable.set name="typeWord" value="{f:translate(key: 'news_word')}" />
                </f:if>
                
                <ul class="admin-form__nav-tabs js__admin-form__nav-tabs nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#data-tab-1">{f:translate(key: 'start')}</a></li>
                    <li><a data-toggle="tab" href="#data-tab-2">{f:translate(key: 'description')}</a></li>
                    <li><a data-toggle="tab" href="#data-tab-3">{f:translate(key: 'categories')}</a></li>
                    <li><a data-toggle="tab" href="#data-tab-4">{f:translate(key: 'images_and_files')}</a></li>
                    <li><a class="js__admin-form__geneate-preview" data-toggle="tab" href="#data-tab-5">{f:translate(key: 'preview')}</a></li>
                </ul>

                <f:comment>========= FORM BEGINS!</f:comment>
                
                <form class="admin-form js__admin-form" name="propose" enctype="multipart/form-data" method="post" action="?tx_pxaasfefeatures_features[action]=complete" data-toggle="validator" role="form">
                
					<f:form.hidden name="propose[type]" value="{type}" />
					
                    <f:comment>--- TAB START</f:comment>

                    <div class="admin-form__tab-content tab-content">
                    	
                    	<div class="admin-form__tab-pane js__admin-form__tab-pane tab-pane fade in active" id="data-tab-1">
                            <fieldset>
                                <legend>{typeWord} {f:translate(key: 'title')}</legend>

								<div class="input-group form-group">
								  	<span class="input-group-addon">{f:translate(key: 'title')} {f:translate(key: 'required_field')}</span>
	                                <f:form.textfield class="form-control js__admin-form_action" data="{rel: 'title'}" name="propose[title]" required="true" />
								</div>

								<f:if condition="{settings.flexTitle}">
                                    <div class="form_hint">
                                        <f:format.html>{settings.flexTitle}</f:format.html>
                                    </div>
                                </f:if>
                            </fieldset>
                            
                            <fieldset>
                                <legend>{f:translate(key: 'author')}</legend>

								<div class="input-group form-group">
								  	<span class="input-group-addon">{f:translate(key: 'author_name')}</span>
                                	<f:form.textfield class="form-control" data="{rel: 'author'}" name="propose[author_name]" value="{user.name}" />
								</div>

								<div class="input-group form-group">
								  	<span class="input-group-addon">{f:translate(key: 'author_email')}</span>
	                                <f:form.textfield name="propose[author_email]" value="{user.email}" class="form-control" />
								</div>
                            </fieldset>
                            
                            <fieldset>
                                <legend>{f:translate(key: 'date')}</legend>

                                <f:if condition="{type}==1">
                                    <f:then>
                                        <v:variable.set name="dateWord" value="{f:translate(key: 'date')}" />
                                    </f:then>
                                    <f:else>
                                        <v:variable.set name="dateWord" value="{f:translate(key: 'date_start')}" />
                                    </f:else>
                                </f:if>
                                
                                <div class="input-group form-group">
                                   	<span class="input-group-addon">{dateWord} {f:translate(key: 'required_field')}</span>
	                               	<f:form.textfield name="propose[date_start]" class="form-control js__input-daterange_since" data="{rel: 'date-starts'}" required="true" />
	                               	<f:if condition="{type}==1">
								        <span class="input-group-addon">{f:translate(key: 'date_since_to')}</span>
								        <f:form.textfield name="propose[date_end]" class="form-control js__input-daterange_to" data="{rel: 'date-end'}" required="true" />
								    </f:if>
								</div>

                            </fieldset>
                            
							<f:if condition="{type}==1">
								<fieldset>
									<legend>{f:translate(key: 'location')}</legend>
									
									<div class="form-group">
										<label for="propose[location]">{f:translate(key: 'location_text')} {f:translate(key: 'required_field')}</label>
										<f:form.textfield name="propose[location]" class="form-control" required="true" />
									</div>

									<f:if condition="{settings.flexLocation}">
										<div class="form_hint">
											<f:format.html>{settings.flexLocation}</f:format.html>
										</div>
									</f:if>
								</fieldset>
							</f:if>
							
							<f:if condition="{showSubsites}">
								<f:then>
									<fieldset>
										<legend>{f:translate(key: 'subsites')}</legend>
										<f:if condition="{settings.flexSubsiteSelect}">
											<div class="form_hint">
												<f:format.html>{settings.flexSubsiteSelect}</f:format.html>
											</div>
										</f:if>
										<f:for each="{subsites}" as="subsite">
											<div class="checkbox">
												<label><f:form.checkbox name="propose[category][subsite][{subsite.id}]" value="{subsite.id}" />{subsite.title}</label>
											</div>
										</f:for>	
									</fieldset>
								</f:then>
								<f:else>
									<f:form.hidden name="[category][subsite][{subsites.0.id}]" value="{subsites.0.id}" />
								</f:else>
							</f:if>	
                        </div>














						<f:comment>--- TAB DESCRIPTION</f:comment>
                        <div class="admin-form__tab-pane js__admin-form__tab-pane tab-pane fade" id="data-tab-2">

							<fieldset>
                                <legend>{f:translate(key: 'basic_information')}</legend>

                                <div class="form-group">
								  	<label for="propose[teaser]">{f:translate(key: 'teaser')} {f:translate(key: 'required_field')}</label>
								  	<f:form.textarea class="form-control" data="{rel: 'teaser'}" rows="2" cols="40" name="propose[teaser]" additionalAttributes="{required: 'required'}" />
								</div>

                                <f:if condition="{settings.flexTeaser}">
                                    <div class="form_hint">
                                        <f:format.html>{settings.flexTeaser}</f:format.html>
                                    </div>
                                </f:if>
                            </fieldset>
							
							 <fieldset>
                                <legend>{f:translate(key: 'detailed_information')}</legend>
                                
                                <div class="form-group">
								  	<label for="propose[description]">{f:translate(key: 'description')} {f:translate(key: 'required_field')}</label>
								  	<f:form.textarea class="form-control" data="{rel: 'description'}" rows="8" cols="40" name="propose[description]" additionalAttributes="{required: 'required'}" />
								</div>

                                <f:if condition="{settings.flexDescription}">
                                    <div class="form_hint">
                                        <f:format.html>{settings.flexDescription}</f:format.html>
                                    </div>
                                </f:if>
                            </fieldset>
							
							<fieldset>
                                <legend>{f:translate(key: 'links_full')}</legend>

                                <div class="form-group">
								  	<label for="propose[links]">{f:translate(key: 'links')}</label>
								  	<f:form.textarea class="form-control" data="{rel: 'links'}" rows="6" cols="40" name="propose[links]" />
								</div>

                                <f:if condition="{settings.flexLinks}">
                                    <div class="form_hint">
                                        <f:format.html>{settings.flexLinks}</f:format.html>
                                    </div>
                                </f:if>
                            </fieldset>
						</div>
						







						<f:comment>--- TAB CATEGORIES</f:comment>
                        <div class="admin-form__tab-pane js__admin-form__tab-pane tab-pane fade" id="data-tab-3">
							<fieldset>
                                <legend>{f:translate(key: 'regions')}</legend>
                                <f:if condition="{settings.flexRegion}">
									<div class="form_hint">
										<f:format.html>{settings.flexRegion}</f:format.html>
									</div>
								</f:if>
								<f:for each="{regions}" as="region">
									<div class="checkbox">
										<label><f:form.checkbox data="{rel: 'region', title: '{region.title}'}" name="propose[category][region][{region.id}]" value="{region.id}" />{region.title}</label>
									</div>
								</f:for>
                            </fieldset>
							
							<fieldset>
                                <legend>{f:translate(key: 'thematics')}</legend>
                                <f:if condition="{settings.flexThematic}">
									<div class="form_hint">
										<f:format.html>{settings.flexThematic}</f:format.html>
									</div>
								</f:if>
								<f:for each="{thematics}" as="thematic">
									<div class="checkbox">
										<label><f:form.checkbox data="{rel: 'thematic', title: '{thematic.title}'}" name="propose[category][thematic][{thematic.id}]" value="{thematic.id}" />{thematic.title}</label>
									</div>
								</f:for>
                            </fieldset>
						</div>
						





						<f:comment>--- TAB IMAGES & FILES</f:comment>
                        <div class="admin-form__tab-pane js__admin-form__tab-pane tab-pane fade" id="data-tab-4">
                            <fieldset>
                                <legend>{f:translate(key: 'images')}</legend>

                                <div class="admin-form__add-items_wrp">
                                    <f:for each="{fileinputs}" as="fileinput">
                                    	<div class="admin-form__add-img {f:if(condition:'{fileinput} == 1', then: '_visible', else:'')}">
                                    		<div class="admin-form__add-img_preview"></div>
                                    		<label class="admin-form__add-img_btn">
                                    			<span class="admin-form__add-img_btn-icon icons icon-now_wallpaper"></span>
                                    			<span class="admin-form__add-img_btn-title">{f:translate(key: 'add_image')}</span>
                                    			<f:form.upload name="tx_pxaasfefeatures_features[images][{fileinput}]" class="js__image-loading admin-form__add-img_btn-file" additionalAttributes="{accept: 'image/jpeg, image/png, image/bmp, image/tiff'}" data="{file-type: 'img', rel: 'img'}" />
                                    		</label>
                                    	</div>
									</f:for>
								</div>

                                <f:if condition="{settings.flexImages}">
                                    <div class="form_hint">
                                        <f:format.html>{settings.flexImages}</f:format.html>
                                    </div>
                                </f:if>
                            </fieldset>
                            
                            <fieldset>
                                <legend>{f:translate(key: 'files')}</legend>

                                <div class="admin-form__add-items_wrp">
                                    <f:for each="{fileinputs}" as="fileinput">
                                    	<div class="admin-form__add-file {f:if(condition:'{fileinput} == 1', then: '_visible', else:'')}">
                                    		<div class="admin-form__add-file_preview"></div>
                                    		<label class="admin-form__add-file_btn">
                                    			<span class="admin-form__add-file_btn-icon icons icon-file-text2"></span>
                                    			<span class="admin-form__add-file_btn-title">{f:translate(key: 'add_file')}</span>
                                    			<f:form.upload name="tx_pxaasfefeatures_features[files][{fileinput}]" class="js__file-loading admin-form__add-file_btn-file" additionalAttributes="{accept: 'application/pdf'}" data="{file-type: 'file'}" />
                                    		</label>
                                    	</div>
									</f:for>
								</div>
                                
                                <f:if condition="{settings.flexFiles}">
                                    <div class="form_hint">
                                        <f:format.html>{settings.flexFiles}</f:format.html>
                                    </div>
                                </f:if>
                            </fieldset>
                        </div>
                        




                        <f:comment>--- TAB PREVIEW</f:comment>
                        <div class="admin-form__tab-pane js__admin-form__tab-pane tab-pane fade" id="data-tab-5">

                        	<div class="js__admin-form__preview">
                        		






	                        	<div class="news news-single">
	                        		<div class="article">
	                        			<div class="news-article-header">
						                    <h3 class="js__admin-form__preview_title"></h3>
						                </div>

						                <div class="news-article-footer">
					                    	<p>
					                        	<!-- date -->
												<span class="news-list-date">
													<span class="js__admin-form__preview_date-starts"></span>
												</span>
					                            <!-- categories -->

					                            <span class="js__admin-form__preview_categories"></span>
												
					                            <!-- author -->
												<span class="news-list-author" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
													skrevet av %s <span class="js__admin-form__preview_author"></span>
												</span>
						                    </p>
					                	</div>

					                	<div class="teaser-text">
					                        <p class="js__admin-form__preview_teaser"></p>
					                    </div>

					                    <div class="news-img-wrap">
											<div class="outer">
												<div class="mediaelement mediaelement-image js__admin-form__preview_images"></div>
												<p class="news-img-caption"></p>
											</div>
										</div>

										<div class="news-text-wrap" itemprop="articleBody">
						                    <p class="js__admin-form__preview_description"></p>
						                </div>


	                        		</div>
	                        	</div>






                        	</div>
                        	
                        	<f:form.submit value="{f:translate(key: 'save', default: 'Submit')}" class="btn btn-default admin-form__submit-btn" />
                        </div>
                    </div>

					
                </form>
                
                <f:comment>========= FORM ENDS!</f:comment>
                
            </f:else>
        </f:if>
        
    </div>
	        <!--/div>
	    </div>
	</div-->

</f:section>
