@main-color-1: #9b1b3f;
@main-color-2: #1b9b7b;
@main-color-3: #3c1b9b;
@main-color-4: #27a5f4;

.icons {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@keyframes info-blincking {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.admin-form__nav-tabs {
	border-bottom: none;

	li {
		width: 20%;
		text-align: center;

		&.active {

			a {
				background-color: @main-color-2 !important;
				color: #fff !important;

				&:hover,
				&:focus,
				&:active {
					background-color: @main-color-2 !important;
					color: #fff !important;
				}
			}
		}

		&:last-of-type {
			a {
				margin-right: 0;
			}
		}

		a {
			border: none !important;

			&:hover,
			&:focus,
			&:active {
				background-color: @main-color-2 !important;
				color: #fff;
			}



			&._not-valid-tab {

				&:before {
				    .icons();
				    content: '\e2a3';
				    position: absolute;
				    top: 4px;
				    right: 4px;
				    padding: 0 1px 1px 1px;
				    background-color: #fff;
				    color: @main-color-1;
				    border-radius: 50%;
				    font-size: 18px;
				    animation: info-blincking 1s infinite;
				}
			}
		}


	}
}

.admin-form {
	padding: 20px;
	margin-bottom: 150px;
    border: 4px solid @main-color-2;

	&__add-img,
	&__add-file {
		position: relative;
		display: inline-block;
	    vertical-align: top;

		@media (max-width: 567px) {
			width: 100%;
		}

		@media (min-width: 568px) and (max-width: 767px) {
			width: 50%;
		}

		@media (min-width: 768px) and (max-width: 1199px) {
			width: 33.3333%;
		}

		@media (min-width: 1200px) {
			width: 25%;
		}

		&_btn {
			display: none;

			&-file {
				display: none !important;
			}
		}

		&._visible {

			// height: 150px;
			// width: 150px;

			.admin-form__add-img_btn,
			.admin-form__add-file_btn {
				display: block;

				&:hover {
					cursor: pointer;
				}
			}
		}

		&._updatable {
			.admin-form__add-img_btn,
			.admin-form__add-file_btn {
			    position: absolute;
			    top: 1px;
			    left: 1px;
			    padding: 6px 9px;
			    background-color: #fff;
			    font-size: 16px;
			}
			.admin-form__add-img_btn-icon,
			.admin-form__add-file_btn-icon {
				&:before {
					content: '\e074';
				}
			}
			.admin-form__add-img_btn-title,
			.admin-form__add-file_btn-title {
				display: none;
			}
		}
	}

	&__remove-item {
		position: absolute;
		top: 1px;
		right: 1px;
		border: none;
		background-color: #fff;
	    padding: 5px 10px;
		font-size: 17px;

	}

	&__submit-btn {

		background-color: @main-color-1 !important;
		border-width: 4px !important;
		border-color: @main-color-1 !important;
		color: #fff !important;
		text-transform: uppercase;

		&:hover {
			background-color: #da295b !important;
			border-color: #da295b !important;
		}

		@media (min-width: 992px) {
    		// height: 60px;
			font-size: 18px;
			// float: right;
    	}
	}

	&__back-btn {
		background-color: @main-color-1 !important;
		border-width: 4px !important;
		border-color: @main-color-1 !important;
		color: #fff !important;
		text-transform: uppercase;
		min-width: 150px;
		padding: 10px 15px !important;

		&:hover {
			background-color: #da295b !important;
			border-color: #da295b !important;
		}

		@media (min-width: 992px) {
			font-size: 18px;
    	}
	}

	.form-control {
		resize: none;
	}
}


.images-preview-list,
.files-preview-list {
	&__item {

		&-title {
		    position: absolute;
		    bottom: 5px;
		    left: 1px;
		    right: 1px;
		    background: #fff;
		    padding: 10px 15px;
	        max-width: 100%;
		    overflow: hidden;
		}
	}
}
.images-preview-list {
	&__item {

		&-img {
		    display: inline-block;
		    padding: 4px;
		    border: 1px solid #ddd;
		    background: #fff;
		    height: 0;
		    overflow: hidden;
		    padding-bottom: 75%;
		}
	}
}
.files-preview-list {
	&__item {

		&-icon {
		    display: inline-block;
		    padding: 4px;
		    border: 1px solid #ddd;
		    background: #fff;
		    height: 0;
		    overflow: hidden;
		    padding-bottom: 75%;
		    width: 100%;

		    &:before {
	    	    position: absolute;
			    top: 50%;
			    left: 50%;
			    font-size: 45px;
			    transform: translate3d(-50%, -50%, 0);
			    color: @main-color-1;
		    }
		}
	}
}


.bootstrap-datetimepicker-widget {
	text-align: center;

	&.dropdown-menu {
	    position: absolute;
	    left: 0;
	    z-index: 1000;
	    display: none;
	    float: left;
	    min-width: 160px;
	    padding: 5px 0;
	    margin: 2px 0 0;
	    font-size: 14px;
	    text-align: left;
	    list-style: none;
	    background-color: #fff;
	    -webkit-background-clip: padding-box;
	    background-clip: padding-box;
	    border: 1px solid #ccc;
	    border: 1px solid rgba(0, 0, 0, .15);
	    border-radius: 4px;
	    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	}
}